<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="homepagestyle.css">
  <title >Fi Tri9i</title>
</head>
<body>
  

  

  

  <nav class="navbar">
    <ul>
      <div class="logo">
      <p>Fi Tri9i</p>  
      <a href="/"></a><img src="homepagepics/car.svg" class="logo_img">
      </div>
      <!-- this place is important it change depending on the user-->
      
      <% if (user) { %>
        <li>Welcome, <%= user.email %></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
      <% } %>
     
        <div class="headings">
      
      <a href="/posts" class="btn">View Posts</a>
    </div>
    </ul>
     
    <div class="menu" id="menu"></div>

  </nav>


  <main class="content">

   
    <div class="box">
      <div class="empty"></div>
      <div class="part1">Trouver Votre prochaine Destination</div>

      <div class="search">

        <img src="homepagepics/pos.svg" class="pos">
        <input type="text" class="input1" placeholder="Où souhaitez-vous aller ?">
        <div class="vertical"></div>
      
        <img src="homepagepics/cal.svg" class="cal">
        <input type="text" class="input2" placeholder="Aujourd'hui">
        <div class="vertical"></div>


        <img src="homepagepics/pp.svg" class="pp">
        <input type="number" class="input3" placeholder="01">
       
        <button class="look">Recherche</button>
      </div>

    </div>


    <div class="sanction0">
      <h1 class="subtit0">Pourquoi Tu Nous Choisis ?</h1>
      
      <div class="subsac0">
        <div class="subbox0">
          <img class="subimg" src="homepagepics/coins.svg">
          <h1 class="tit0">Vos trajets préférés à petits prix</h1>
          <p class="tex0">Où que vous alliez, en bus ou en covoiturage, trouvez le trajet idéal parmi notre large choix . </p>
        </div>

        <div class="subbox1">
          <img class="subimg" src="homepagepics/shield.svg">
          <h1 class="tit1">Voyagez en toute confiance</h1>
          <p class="tex1">Où que vous alliez, en bus ou en covoiturage, trouvez le trajet idéal parmi notre large choix .</p>
        </div>
        <div class="subbox2">
          <img class="subimg" src="homepagepics/flash.svg">
          <h1 class="tit0">Recherchez, cliquez et réservez ! </h1>
          <p class="tex2">Où que vous alliez, en bus ou en covoiturage, trouvez le trajet idéal parmi notre large choix .</p>
        </div>
      </div>

    </div>



    <div class="band">

      <div class="shortcut"> <p>Alger ⟶ Bejaia &ThinSpace;400DA</p><p class="c">></p> </div>
      <div class="shortcut"> <p>Oran ⟶ Constantine &ThinSpace;1000DA</p><p class="c">></p> </div>
      <div class="shortcut"> <p>Alger ⟶ Batna &ThinSpace;500DA</p><p class="c">></p> </div>
    </div>


    <div class="sanction1">

      <div class="half0">
        <div class="color0"><img src="homepagepics/pips.svg" class="pips">  </div>
        
        <div class="element0">
          <h1 class="ht">Découvrez de nouvelles villes sans vous ruiner avec les bus FI TRI9I !</h1>
          <p class="sub-ht">dévoilez leurs charmes cachés et plongez dans l'excitation de l'inconnu. Laissez-nous vous guider vers des aventures urbaines inoubliables."</p>
          <a href="notready.html" class="but0"><p>Decouvrir notre offre</p></a>
        </div>
      </div>

      <div class="half1">
        <div class="element1">
          <h1 class="ht">Aidez-nous à vous protéger contre les arnaques</h1>
          <p class="sub-ht">Chez BlaBlaCar, nous mettons tout en œuvre pour vous proposer une plateforme aussi sécurisée que possible. Mais les tentatives d'arnaque demeurent une réalité,</p>
          <a href="notready.html" class="but1"><p>Decouvrir notre offre</p></a>
        </div>
        <div class="color1"> <img src="homepagepics/wave.svg" class="wave"> </div>
      </div>


    </div>
    

    <div class="sanction2">


      <div class="card0">
        <img src="homepagepics/poep.svg"  class="last-img1">
       
        <h1 class="bigt0">À propos</h1>
        <p class="smallt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <a href="notready.html" class="more">En savoir plus</a>
      </div>

      <div class="card1">
        <img src="homepagepics/paper.svg" class="last-img0">
        <h1 class="bigt1">Espace presse</h1>
        <p class="smallt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <a href="notready.html" class="more">En savoir plus</a>
      </div>

      <div class="card0">
        <img src="homepagepics/home.svg"  class="last-img2">
        <h1 class="bigt0">Citoyens du monde</h1>
        <p class="smallt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <a href="notready.html" class="more">En savoir plus</a>
      </div>
    </div>





  </main>


  <footer class="foot">
    <div class="footboox0">
      <h1 class="bigfoot">Voyagez avec nous</h1>
      <a href="notready.html"  class="smallfoor">Destinations populaires en covoiturage</a>
      <a href="notready.html" class="smallfoor">Trajets populaires en covoiturage</a>
    </div>
    <div class="footboox1">
    <a href="notready.html" class="smallfoor">Information légale</a>
      <a href="notready.html" class="smallfoor">Information légale</a>
      <a href="notready.html" class="smallfoor">Information légale</a>
    </div>
    <div class="footboox2">
      <h1 class="bigfoot">Covoiturage</h1>
      <a href="notready.html" class="smallfoor">Destinations populaires en covoiturage</a>
      <a href="notready.html" class="smallfoor">Trajets populaires en covoiturage</a>
    </div>

     <div class="footboox3">
      <a href="https://twitter.com/ahmedramiK38823" >  <img src="homepagepics/X.svg" class="footpic"></a>
      <a href="https://www.facebook.com/rami.kadache/?locale=fr_FR" ><img src="homepagepics/fb.svg" class="footpic"></a>
      <a href="https://www.instagram.com/c4pinguin/" ><img src="homepagepics/insta.svg" class="footpic"></a>
     </div>
  </footer>

<script src="homepagescript.js"></script>
</body>
</html>